<%
  # parameters:
  # group_lesson - A FormHelper object
%>
<tr class="new_student_row">
  <td></td>
  <%= group_lesson.fields_for :lesson do |lesson_f| %>
    <%= lesson_f.fields_for :student do |lesson_student| %>
      <td>
        <%= lesson_student.text_field :first_name, class: "fname", placeholder: 'Enter new...', form: "add_student_form" %>
      </td>
      <td>
        <%= lesson_student.text_field :last_name, class: "lname", placeholder: "..student...", form: "add_student_form" %>
      </td>
      <td>
        <%= lesson_student.collection_select :school_id, School.where(activated: true).order(:name),:id,:name, {:prompt => "School..."}, {form: "add_student_form"} %>
      </td>
    <% end %>
    <td style="text-align: center">
      <%= lesson_f.check_box :brought_instrument, checked: true, form: "add_student_form" %>
    </td>
    <td style="text-align: center">
      <%= lesson_f.check_box :brought_books, checked: true, form: "add_student_form" %>
    </td>
  <% end %><!-- group_lesson.fields_for :lesson -->
<td><button type="submit" onclick="beforeSubmit()" form="add_student_form">Add Student</button></td>
</tr>
