<h2>
  Group Lesson Checkout
</h2>
<% i = -1 %>
<%= render '/shared/error_messages', object: @group_lesson %>
<%= form_for(@group_lesson, url: '/group_lessons/checkout', remote: true) do |group_lesson_f| %>
  <table class="stdnt">
    <tr>
      <th>F Name</th>
      <th>L Name</th>
      <th>School</th>
      <th>Goals/Ratings</th>
      <th>Student Notes</th>
      <th>Permissions</th>
    </tr>
    <%= group_lesson_f.fields_for :lessons do |lesson_f| %>
      <tr>
      <% i += 1 %>
      <% lesson = @group_lesson.lessons[i] %>
      <%= lesson_f.hidden_field(:id, value: lesson.id)%>
      <% if lesson.student %>
        <td class="first_name"><%= lesson.student.first_name %></td>
        <td class="last_name"><%= lesson.student.last_name %></td>
        <td><%= lesson.student.school.name %></td>
      <% else %>
        <td></td>
        <td></td>
        <td></td>
      <% end %>
      <td>
        <table class="noborder">
          <%= lesson_f.fields_for :ratings do |rating_f| %>
            <tr>
            <%= rating_f.fields_for :goal do |goal_f| %>
              <td><%= rating_f.collection_select :goal_id, Goal.all, :id, :name, include_blank: "[None]" %></td>
            <% end %>
            <td><%= rating_f.select :score, [10,9,8,7,6,5,4,3,2,1], include_blank: true %></td>
            </tr>
          <% end %>
        </table>
      </td>
      <td><%= lesson_f.text_area :notes, autocomplete: "off", rows: Goal::MAX_PER_STUDENT %> </td>
      <%= lesson_f.fields_for :student do |student_f| %>
        <td><%= student_f.text_area :permissions, autocomplete: "off", rows: Goal::MAX_PER_STUDENT, value: lesson.student.permissions %> </td>
      <% end %>
      </tr> 
    <% end %>
    <tr class="new_student_row">
      <td><input class="fname" placeholder="Enter new..." form="add_student_form" type="text" id="new_student_first_name"></td>
      <td><input class="lname" placeholder="..student..." form="add_student_form" type="text" id="new_student_last_name"></td>
      <td>
        <select form="add_student_form" id="new_student_school_id">
          <option>School...</option>
          <%= options_from_collection_for_select(School.all, :id, :name) %>
        </select>
      </td>
      <td colspan="3"><button type="submit" onclick="add_student(event)" form="add_student_form">Add Student</button></td>
    </tr>
    <tr>
      <td colspan="7" style="text-align: center">
        <br>
        <%= group_lesson_f.label :notes, "Group Notes" %>
        <%= group_lesson_f.text_area :notes, class: "notes", rows: 4 %>
        <%= group_lesson_f.hidden_field :id %>
      </td>
    </tr>
    <tr>
      <td colspan="7" style="text-align: center">
        <button type="submit" style="width: 100%">Finish Lesson</button>
      </td>
    </tr>
  </table>
<% end %>

<form id="add_student_form" onsubmit="addStudent(event)">
</form>

<div class="hidden">
  <table class="placeholder">
  <tbody class="student_row_template">
  <tr class="student_$id">
    <input type="hidden" value="$id" name="group_lesson[lessons_attributes][$row][student_id]" id="group_lesson_lessons_attributes_$row_student_id">
    <input type="hidden" value="$school_id" name="group_lesson[lessons_attributes][$row][school_id]" id="group_lesson_lessons_attributes_$row_school_id">
    <input value="1" type="hidden" name="group_lesson[lessons_attributes][$row][brought_instrument]" id="group_lesson_lessons_attributes_$row_brought_instrument" />
    <input value="1" type="hidden" name="group_lesson[lessons_attributes][$row][brought_books]" id="group_lesson_lessons_attributes_$row_brought_books" />
    <td>$first_name</td>
    <td>$last_name</td>
    <td>$school_name</td>
    <td>
      <table class="noborder">
        <tbody>
        <% Goal::MAX_PER_STUDENT.times do |i| %>
          <tr>
            <td>
              <select name="group_lesson[lessons_attributes][$row][ratings_attributes][<%= i %>][goal_id]" id="group_lesson_lessons_attributes_$row_ratings_attributes_<%= i %>_goal_id">
                <option value="">[None]</option>
                <%= options_from_collection_for_select(Goal.all, :id, :name) %>
              </select>
            </td>
            <td>
              <select name="group_lesson[lessons_attributes][$row][ratings_attributes][<%= i %>][score]" id="group_lesson_lessons_attributes_$row_ratings_attributes_<%= i %>_score">
                <option value=""></option>
                <%= options_for_select([10,9,8,7,6,5,4,3,2,1], include_blank: true) %>
              </select>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </td>
    <td><textarea autocomplete="off" rows="<%= Goal::MAX_PER_STUDENT %>" name="group_lesson[lessons_attributes][$row][notes]" id="group_lesson_lessons_attributes_$row_notes"></textarea> </td>
    <td><textarea autocomplete="off" rows="<%= Goal::MAX_PER_STUDENT %>" name="group_lesson[lessons_attributes][$row][student_attributes][permissions]" id="group_lesson_lessons_attributes_$row_student_attributes_permissions">$permissions</textarea> </td>
    <input type="hidden" value="$id" name="group_lesson[lessons_attributes][$row][student_attributes][id]" id="group_lesson_lessons_attributes_$row_student_attributes_id" />
  </tr>
  </tbody>
  </table>
</div>

<script>
var row_count = 0;
$(document).ready(function () {
  row_count = <%= i %>
});
function add_student(e) {
  e.preventDefault()
  clear_error()
  let first_name = $("#new_student_first_name").val().trim()
  let last_name = $("#new_student_last_name").val().trim()
  let school_id = $("#new_student_school_id").val()
  if (!first_name || !last_name)
    return false
  $.ajax("/students/search",
    { method: "POST", dataType: "json", data: { first_name: first_name, last_name: last_name, school_id: school_id }})
    .done(function(student) {
      if (student && student.id > 0)
        student_found(student)
      else
        student_not_found(first_name, last_name, school_id)
    })
    .fail(function(result) {
      student_not_found(first_name, last_name, school_id)
    })
}
function create_student(first_name, last_name, school_id) {
  $.ajax("/students",
    { method: "POST", dataType: "json", data: { student: { first_name: first_name, last_name: last_name, school_id: school_id }}})
    .done(function(student) {
      if (student && student.id)
        student_found(student)
      else
        set_error("Unable to create student")
    })
    .fail(function(result) {
      set_error("Unable to create student")
    })
}
function clear_error() {
  $("#error_wrapper").html('')
}
function set_error(message) {
  $("#error_wrapper").html(`<ul><li>${message}</li></ul>`)
}
function set_goals(student) {
  if (!student.goals)
    return
  let goal_iter = student.goals.values()
  $(`.student_${student.id} select[name$="[goal_id]"]`).each(function() { 
    let goal = goal_iter.next().value
    if (goal)
      $(this).val(goal.id)
  })
}
function student_found(student) {
  $(".new_student_row").before(student_row(student))
  set_goals(student)
  $("#new_student_first_name").val('')
  $("#new_student_last_name").val('')
  $("#new_student_school_id option").eq(0).prop('selected', true)
}
function student_not_found(first_name, last_name, school_id) {
  if (confirm("No student by that name at that school.  Are you trying to add a new student?")) {
    create_student(first_name, last_name, school_id)
  }
}
function student_row(student) {
  row_count += 1
  let id = student.id
  let first_name = student.first_name
  let last_name = student.last_name
  let permissions = student.permissions || ""
  let school_id = $("#new_student_school_id").val();
  let school_name = $("#new_student_school_id option:selected").text();

  // replace templated variables with data
  let template = $(".student_row_template").html()
  template = template.replaceAll("$row", row_count)
  template = template.replaceAll("$id", id)
  template = template.replaceAll("$first_name", first_name)
  template = template.replaceAll("$last_name", last_name)
  template = template.replaceAll("$permissions", permissions)
  template = template.replaceAll("$school_id", school_id)
  template = template.replaceAll("$school_name", school_name)
  return template
}
</script>
