<script>
function modal_pop(e) {
    modal_field = e.target;
    parent_row = $(e.target).parent().parent();
    full_name = parent_row.find(".first_name").html() + " " + parent_row.find(".last_name").html();
    $("#modal_title").html("Notes for " + full_name);
    $("#modal_note_text").val($(e.target).val());
    //$("#modal_note").show();
    document.getElementById('modal_note').showModal();
    $("#modal_note_text").focus();
}
function modal_close(event, modal) {
  $(modal_field).val($("#modal_note_text").val());
  document.getElementById('modal_note').close();
}
$(function() {
  $(".gomodal").on("click", modal_pop);
});
</script>
<h2>
  Group Lesson Checkout
</h2>
<% i = -1 %>
<%= render '/shared/error_messages', object: @group_lesson %>
<%= form_for(@group_lesson, url: '/group_lessons/checkout', remote: true) do |group_lesson_f| %>
  <table class="stdnt">
    <tr>
      <th>F Name</th>
      <th>L Name</th>
      <th>School</th>
      <th>Goals/Ratings</th>
      <th>Student Notes</th>
      <th>Permissions</th>
    </tr>
    <%= group_lesson_f.fields_for :lessons do |lesson_f| %>
      <tr>
      <% i += 1 %>
      <% lesson = @group_lesson.lessons[i] %>
      <%= lesson_f.hidden_field(:id, value: lesson.id)%>
      <%# render partial: "checkout_lesson_row", locals: {lesson: lesson, i: i} %>
      <% if lesson.student %>
        <td class="first_name"><%= lesson.student.first_name %></td>
        <td class="last_name"><%= lesson.student.last_name %></td>
        <td><%= lesson.student.school.name %></td>
      <% else %>
        <td></td>
        <td></td>
        <td></td>
      <% end %>
      <td>
        <table class="noborder">
          <%= lesson_f.fields_for :ratings do |rating_f| %>
            <tr>
            <%= rating_f.fields_for :goal do |goal_f| %>
              <td><%= rating_f.collection_select :goal_id, Goal.all, :id, :name, prompt: true, include_blank: "[None]" %></td>
            <% end %>
            <td><%= rating_f.select :score, [10,9,8,7,6,5,4,3,2,1], include_blank: true %></td>
            </tr>
          <% end %>
        </table>
      </td>
      <td><%= lesson_f.text_area :notes, class: "gomodal", autocomplete: "off", rows: Goal::MAX_PER_STUDENT %> </td>
      <%= lesson_f.fields_for :student do |student_f| %>
        <td><%= student_f.text_area :permissions, autocomplete: "off", rows: Goal::MAX_PER_STUDENT, value: lesson.student.permissions %> </td>
        <%= student_f.text_field :first_name, type: "hidden", value: lesson.student.first_name %>
      <% end %>
      </tr> 
    <% end %>
    <%= render partial: "new_student_row", locals: {group_lesson: group_lesson_f} %>
    <tr>
      <td colspan="7" style="text-align: center">
        <br>
        <%= group_lesson_f.label :notes, "Group Notes" %>
        <%= group_lesson_f.text_area :notes, class: "notes", rows: 4 %>
        <%= group_lesson_f.hidden_field :id %>
      </td>
    </tr>
    <tr>
      <td colspan="7" style="text-align: center">
        <button type="submit" style="width: 100%">Finish Lesson</button>
      </td>
    </tr>
  </table>
<% end %>
<%= form_for(Lesson.new, url: '/group_lessons/addStudent', remote: true, html: {id: "add_student_form"}) do |lesson| %>
  <input type="hidden" id="row_count" name="row_count" />
<% end %>

<script>
var row_count = 0;
$(document).ready(function () {
  row_count = <%= i %>
});

function beforeSubmit() {
  $("#row_count").val(row_count);
  row_count += 1;
}
</script>

<dialog id="modal_note" class="all-block center-contents">
  <label id="modal_title"></label>
  <textarea id="modal_note_text" rows="4"></textarea>
	<button onclick="modal_close()">Done</button>
</dialog>

