<script>
$(function() {
  $(".gomodal").on("click", function(e) {
    modal_field = e.target;
    parent_row = $(e.target).parent().parent();
    full_name = parent_row.find(".first_name").html() + " " + parent_row.find(".last_name").html();
    $("#modal_title").html("Notes for " + full_name);
    $("#modal_note_text").val($(e.target).val());
    $("#modal_note").show();
    $("#modal_note").modal();
    $("#modal_note_text").focus();
  });
  $('body').on($.modal.CLOSE, function(event, modal) {
    $("#modal_note").hide();
    $(modal_field).val($("#modal_note_text").val());
  });
});
</script>
<h2>
  Group Lesson Checkout
</h2>
<%= render '/shared/error_messages', object: @group_lesson %>
<%= form_for(@group_lesson, url: '/group_lessons/checkout') do |group_lesson_f| %>
  <table class="stdnt">
    <tr>
      <th>F Name</th>
      <th>L Name</th>
      <th>School</th>
      <th>Progress</th>
      <th>Behavior</th>
      <th>Student Notes</th>
    </tr>
    <% i = -1 %>
    <%= group_lesson_f.fields_for :lessons do |lesson_f| %>
      <tr>
      <% i += 1 %>
      <% lesson = @group_lesson.lessons[i] %>
      <%= lesson_f.hidden_field(:id, value: lesson.id)%>
      <% if lesson.student %>
        <td class="first_name"><%= lesson.student.first_name %></td>
        <td class="last_name"><%= lesson.student.last_name %></td>
        <td><%= lesson.student.school.name %></td>
      <% else %>
        <td></td>
        <td></td>
        <td></td>
      <% end %>
      <td class="cent"><%= lesson_f.range_field :progress, min: 1, max: 6, value: 1, :style => "width:5em" %> </td>
      <td class="cent"><%= lesson_f.range_field :behavior, min: 1, max: 6, value: 1, :style => "width:5em" %> </td>
      <td><%= lesson_f.text_field :notes, class: "gomodal" %> </td>
      </tr> 
    <% end %>
    <tr>
      <td colspan="6" style="text-align: center">
        <br>
        <%= group_lesson_f.label :notes, "Group Notes" %>
        <%= group_lesson_f.text_area :notes, class: "notes", rows: 4 %>
        <%= group_lesson_f.hidden_field :id %>    
      </td>
    </tr>
    <tr>
      <td colspan="6" style="text-align: center">
        <button type="submit" style="width: 100%">Finish Lesson</button>
      </td>
    </tr>
  </table>
<% end %>
<div id="modal_note" class="all-block center-contents hidden">
  <label id="modal_title"></label>
  <textarea id="modal_note_text" rows="4" style="width: 100%"></textarea>
	<button onclick="$.modal.close()">Done</button>
</div>
