<h2>
  Start Group Lesson
</h2>
<% i = -1 %>
<%= render '/shared/error_messages', object: @group_lesson %>
<%= form_for(@group_lesson, url: '/group_lessons', remote: true, html: {id: "new_group_lesson"}) do |group_lesson| %>
<table class="stdnt">
  <tr>
    <th></th>
  	<th>F Name</th>
    <th>L Name</th>
    <th>School</th>
    <th>Instrument</th>
    <th>Books</th>
  </tr>
    <% selected ||= [] %>
    <% i = -1 %>
    <%= group_lesson.fields_for :lessons do |lesson_f| %>
      <% i += 1 %>
      <% student = @group_lesson.lessons[i].student %>
      <% student_exists = student && student.id && student.school && student.school.id %>
      <% if student_exists %>
        <tr class="existing_student_row">
        <%= lesson_f.hidden_field(:student_id, value: student.id) %>
        <%= lesson_f.hidden_field(:school_id, value: student.school.id) %>
        <td><%= check_box_tag "group_lesson[lessons_attributes][#{i}][selected]", true, selected[i] %></td>
        <td><%= student.first_name %></td>
        <td><%= student.last_name %></td>
        <td><%= student.school.name %></td>
      <% end %>
      <td style="text-align: center">
        <%= lesson_f.check_box :brought_instrument, checked: true %>
      </td>
      <td style="text-align: center">
        <%= lesson_f.check_box :brought_books, checked: true %>
      </td>
  </tr>
  <% end %><!-- group_lesson.fields_for :lessons -->
  <%= render partial: "new_student_row", locals: {group_lesson: group_lesson} %>
<tr>
  <td colspan="6"><button id="commit" name="commit" type="submit" style="width: 100%">Start Lesson</button></td>
</tr>
</table>
<% end %><!-- form_for @group_lesson -->

<%= form_for(Lesson.new, url: '/group_lessons/addStudent', remote: true, html: {id: "add_student_form"}) do |lesson| %>
  <input type="hidden" id="row_count" name="row_count" />
<% end %>

<script>
var row_count = 0;
$(document).ready(function () {
  row_count = <%= i %>
});

function beforeSubmit() {
  $("#row_count").val(row_count);
  row_count += 1;
}
</script>
