<h2>
  Start Group Lesson
</h2>
<%= render '/shared/error_messages', object: @group_lesson %>
<%= form_for(@group_lesson, url: '/group_lessons', remote: true, html: {id: "new_group_lesson"}) do |group_lesson| %>
<table class="stdnt">
  <tr>
    <th></th>
  	<th>F Name</th>
    <th>L Name</th>
    <th>School</th>
    <th>Instrument</th>
    <th>Books</th>
  </tr>
    <% selected ||= [] %>
    <% i = -1 %>
    <%= group_lesson.fields_for :lessons do |lesson_f| %>
      <% i += 1 %>
      <% student = @group_lesson.lessons[i].student %>
      <% student_exists = student && student.id && student.school && student.school.id %>
      <% if student_exists %>
        <tr class="existing_student_row">
        <%= lesson_f.hidden_field(:student_id, value: student.id) %>
        <%= lesson_f.hidden_field(:school_id, value: student.school.id) %>
        <td><%= check_box_tag "group_lesson[lessons_attributes][#{i}][selected]", true, selected[i] %></td>
        <td><%= student.first_name %></td>
        <td><%= student.last_name %></td>
        <td><%= student.school.name %></td>
      <% end %>
      <td style="text-align: center">
        <%= lesson_f.check_box :brought_instrument, checked: true %>
      </td>
      <td style="text-align: center">
        <%= lesson_f.check_box :brought_books, checked: true %>
      </td>
  </tr>
  <% end %><!-- group_lesson.fields_for :lessons -->
  <%= render partial: "new_student_row", locals: {i:i+1} %>
<tr>
  <td colspan="6"><button id="commit" name="commit" type="submit" style="width: 100%">Start Lesson</button></td>
</tr>
</table>
<% end %><!-- form_for @group_lesson -->
<script>
function addStudent() {
  $("#new_group_lesson").append("<input type='hidden' id='add_student_hidden_field' name='add_student' value='true' />")
}
</script>
