<h2>
  <%= @group_lesson.course ? 'Check Attendance' : 'Start Group Lesson' %>
</h2>
<% i = -1 %>
<%= render '/shared/error_messages', object: @group_lesson %>
<%= form_for(@group_lesson, url: '/group_lessons', remote: true, html: {id: "new_group_lesson"}) do |group_lesson| %>
  <%= group_lesson.hidden_field(:course_id, value: @group_lesson.course_id) %>
<table class="stdnt">
  <tr>
    <th><%= @group_lesson.course ? 'Present?' : '' %></th>
  	<th>F Name</th>
    <th>L Name</th>
    <th>School</th>
    <th>Instrument</th>
    <th>Books</th>
  </tr>
    <%
      selected ||= [] 
      if @group_lesson.course
        for i in 0...@group_lesson.lessons.length
          selected[i] = true
        end
      end
    %>
    <% i = -1 %>
    <%= group_lesson.fields_for :lessons do |lesson_f| %>
      <% i += 1 %>
      <% student = @group_lesson.lessons[i].student %>
      <% student_exists = student && student.id && student.school && student.school.id %>
      <% if student_exists %>
        <tr class="existing_student_row">
        <%= lesson_f.hidden_field(:student_id, value: student.id) %>
        <%= lesson_f.hidden_field(:school_id, value: student.school.id) %>
        <td style="text-align: center"><%= check_box_tag "group_lesson[lessons_attributes][#{i}][selected]", true, selected[i], class: "student_select" %></td>
        <td class="first_name"><%= student.first_name %></td>
        <td class="last_name"><%= student.last_name %></td>
        <td><%= student.school.name %></td>
      <% end %>
      <td style="text-align: center">
        <%= lesson_f.check_box :brought_instrument, checked: true %>
      </td>
      <td style="text-align: center">
        <%= lesson_f.check_box :brought_books, checked: true %>
      </td>
  </tr>
  <% end %><!-- group_lesson.fields_for :lessons -->
  <% if !@group_lesson.course %>
  <tr class="new_student_row">
    <td></td>
    <td><input class="fname" placeholder="Enter new..." form="add_student_form" type="text" id="new_student_first_name"></td>
    <td><input class="lname" placeholder="..student..." form="add_student_form" type="text" id="new_student_last_name"></td>
    <td>
      <select form="add_student_form" id="new_student_school_id">
        <option>School...</option>
        <%= options_from_collection_for_select(School.where(activated: true), :id, :name) %>
      </select>
    </td>
    <td style="text-align: center"><input form="add_student_form" type="checkbox" value="1" checked="checked" id="new_student_brought_instrument"></td>
    <td style="text-align: center"><input form="add_student_form" type="checkbox" value="1" checked="checked" id="new_student_brought_books"></td>
    <td><button type="submit" onclick="add_student_wrapper(event)" form="add_student_form">Add Student</button></td>
  </tr>
  <% end %>
  <tr>
    <td colspan="6"><%= group_lesson.submit "Start Lesson", style: "width: 100%", data: { disable_with: "Please wait..."} %></td>
  </tr>
</table>
<% end %><!-- form_for @group_lesson -->

<div class="hidden">
  <table class="placeholder">
  <tbody class="student_row_template">
  <tr class="existing_student_row">
    <input type="hidden" value="$id" name="group_lesson[lessons_attributes][$row][student_id]" id="group_lesson_lessons_attributes_$row_student_id">
    <input type="hidden" value="$school_id" name="group_lesson[lessons_attributes][$row][school_id]" id="group_lesson_lessons_attributes_$row_school_id">
    <td><input type="checkbox" name="group_lesson[lessons_attributes][$row][selected]" id="group_lesson_lessons_attributes_$row_selected" value="true" checked="checked"></td>
    <td class="first_name">$first_name</td>
    <td class="last_name">$last_name</td>
    <td>$school_name</td>
    <td style="text-align: center">
      <input name="group_lesson[lessons_attributes][$row][brought_instrument]" type="hidden" value="0"><input type="checkbox" value="1" $brought_instrument_checked name="group_lesson[lessons_attributes][$row][brought_instrument]" id="group_lesson_lessons_attributes_$row_brought_instrument">
    </td>
    <td style="text-align: center">
      <input name="group_lesson[lessons_attributes][$row][brought_books]" type="hidden" value="0"><input type="checkbox" value="1" $brought_books_checked name="group_lesson[lessons_attributes][$row][brought_books]" id="group_lesson_lessons_attributes_$row_brought_books">
    </td>
  </tr>
  </tbody>
  </table>
</div>
<script>
var row_count = 0;
$(document).ready(function () {
  row_count = <%= i %>
});
function add_student_wrapper(e) {
  e.preventDefault()
  let first_name = $("#new_student_first_name").val().trim()
  let last_name = $("#new_student_last_name").val().trim()
  let school_id = $("#new_student_school_id").val()
  add_student(first_name, last_name, school_id)
}
function student_found(student) {
  $(".new_student_row").before(student_row(student))
  $("#new_student_first_name").val('')
  $("#new_student_last_name").val('')
  $("#new_student_school_id option").eq(0).prop('selected', true)
}
function student_row(student) {
  row_count += 1
  let id = student.id
  let first_name = student.first_name
  let last_name = student.last_name
  let brought_books = $("#new_student_brought_books").is(":checked")
  let brought_instrument = $("#new_student_brought_instrument").is(":checked")
  let school_id = $("#new_student_school_id").val();
  let school_name = $("#new_student_school_id option:selected").text();

  // replace templated variables with data
  let template = $(".student_row_template").html()
  template = template.replaceAll("$row", row_count)
  template = template.replaceAll("$id", id)
  template = template.replaceAll("$first_name", first_name)
  template = template.replaceAll("$last_name", last_name)
  template = template.replaceAll("$school_id", school_id)
  template = template.replaceAll("$school_name", school_name)
  template = template.replaceAll("$brought_books_checked", brought_books ? 'checked="checked"' : '')
  template = template.replaceAll("$brought_instrument_checked", brought_instrument ? 'checked="checked"' : '')
  return template
}
<%= render partial: "shared/add_student", formats: :js %>
</script>
