<% provide(:title, "Log in") %>
<p><h1 style="padding: 0; margin: 0">Sparksync</h1>
<h3 style="padding: 0; margin: 0">Music Lesson Tracker</h3></p>

<h2>Log in</h2>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path, html: { class: "all-block" }) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
      <%= link_to "(forgot password)", new_password_reset_path %>


      <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
