<table>
	<tr>
		<th>F Name</th>
    <th>L Name</th>
    <th>Email</th>
    <th>Password</th>
	</tr>
  <% @admins.each do |admin| %> 
		<tr>
    <%= form_for(admin, url: admin_path(admin.id)) do |f| %>
	  	<td><%= f.text_field :first_name, class: "fname", placeholder: admin.first_name %></td>
      <td><%= f.text_field :last_name, class: "lname", placeholder: admin.last_name %></td>
      <td><%= f.email_field :email, class: "email", placeholder: admin.email %></td>
      <td><%= f.submit "Modify", class: "welcome", name: "modify" %></td>
      <% if admin.activated %>
        <td><%= f.submit "Deactivate", class: "delete", name: "delete" %></td>
      <% else %>
        <td><%= f.submit "Delete", class: "delete", name: "delete", :onclick => "return confirm('#{@delete_warning}')" %></td>
      <% end %>
    <% end %>
		</tr>
  <% end %>
	<tr>
  <%= form_for(@admin, url: admins_path) do |f| %>
 	  <td>
      <%= f.text_field :first_name, class: "fname", placeholder: 'Enter new...' %>
    </td>
    <td>
      <%= f.text_field :last_name, class: "lname", placeholder: "..admin's..." %>
    </td>
    <td>
      <%= f.email_field :email, class: "email", placeholder: '..information here.' %>
    </td>
    <td><%= f.submit "Send", class: "welcome" %></td>
    <td></td>
  <% end %>
	</tr>
</table>
