<table class="stdnt">
	<tr>
    <th>School</th>
		<th>F Name</th>
    <th>L Name</th>
    <th>Email</th>
    <th>Password</th>
    <th></th>
	</tr>
  <% @partners.each do |partner| %> 
		<tr>
    <%= form_for(partner, url: partner_path(partner.id)) do |f| %>
	  	<td>
        <%= f.collection_select :school_id, School.where("activated=?", true).order(:name),:id,:name %>
      </td>
	  	<td><%= f.text_field :first_name, class: "fname", placeholder: partner.first_name %></td>
      <td><%= f.text_field :last_name, class: "lname", placeholder: partner.last_name %></td>
      <td><%= f.email_field :email, class: "email", placeholder: partner.email %></td>
      <td><%= f.submit "Reset", class: "welcome", name: "reset" %></td>
      <% if partner.activated %>
        <td><%= f.submit "Modify", class: "delete", name: "modify" %></td>
        <td><%= f.submit "Deactivate", class: "delete", name: "delete" %></td>
      <% else %>
        <td><%= f.submit "Activate", class: "delete", name: "activate" %></td>
        <td><%= f.submit "Delete", class: "delete", name: "delete", :onclick => "return confirm('#{@delete_warning}')" %></td>
      <% end %>
    <% end %>
		</tr>
  <% end %>
	<tr class="new_record">
  <%= form_for(@partner, url: partners_path) do |f| %>
 	  <td>
        <%= f.collection_select :school_id, School.where("activated=?", true).order(:name),:id,:name, :prompt => "School..." %>
    </td>
 	  <td>
      <%= f.text_field :first_name, class: "fname", placeholder: 'Enter new...' %>
    </td>
    <td>
      <%= f.text_field :last_name, class: "lname", placeholder: "..partner's..." %>
    </td>
    <td>
      <%= f.email_field :email, class: "email", placeholder: '..information here.' %>
    </td>
    <td><%= f.submit "Send", class: "welcome" %></td>
  <% end %>
	</tr>
</table>
