<table class="stdnt">
	<tr>
    <th></th>
		<th>F Name</th>
    <th>L Name</th>
    <th>School</th>
    <th>Goals</th>
    <th>Permissions</th>
    <% if @isadmin %>
      <th colspan="2"></th>
    <% else %>
      <td></th>
    <% end %>
	</tr>
  <% @students.each do |student| %> 
		<tr>
    <td> <%= button_to "View", student_path(student.id), method: :get %> </td>
    <%= form_for(student, url: student_path(student.id)) do |f| %>
      <% if @isadmin %>
        <!-- restrict to activated schools only, default is "choose school -->
        <td><%= f.text_field :first_name, class: "fname", placeholder: student.first_name %></td>
        <td><%= f.text_field :last_name, class: "lname", placeholder: student.last_name %></td>
        <td>
          <%= f.collection_select :school_id, School.all.order(:name),:id,:name %>
        </td>
        <td><%= f.text_field :permissions %></td>
        <% if student.activated %>
          <td><%= f.submit "Modify", class: "delete", name: "modify" %></td>
          <td><%= f.submit "Deactivate", class: "delete", name: "delete" %></td>
        <% else %>
          <td><%= f.submit "Activate", class: "delete", name: "activate" %></td>
          <td><%= f.submit "Delete", class: "delete", name: "delete", :onclick => "return confirm('#{@delete_warning}')" %></td>
        <% end %>
      <% else %>
        <td><%= student.first_name %></td>
        <td><%= student.last_name %></td>
        <td><%= student.school.name %></td>
        <td>
          <% # use select_tag because collection_select creates a hidden field with the same id as the select %>
          <% i = 0 %>
          <% student.goals.each do |goal| %>
            <%= select_tag "student[goals_attributes][#{i}][id]", options_from_collection_for_select(Goal.all, :id, :name, selected: goal.id), prompt: false, include_blank: "[None]" %>
            <% i += 1 %>
          <% end %>
          <% 
            (i...Goal::MAX_PER_STUDENT).each do |i|
          %>
            <%= f.fields_for :goals, student.goals.build do |goals_f| %>
              <%= select_tag "student[goals_attributes][#{i}][id]", options_from_collection_for_select(Goal.all, :id, :name), prompt: false, include_blank: "[None]" %>
            <% end %>
          <% end %>
        </td>
        <td><%= f.text_field :permissions %></td>
        <td><%= f.submit "Modify", class: "delete", name: "modify" %></td>
      <% end %>
    <% end %> <!-- form_for -->
    </tr> 
    <% end %>
  <tr>
  <% if @isadmin %>
    <%= form_for(@student, url: students_path) do |f| %>
      <!-- restrict to activated schools only, default is "choose school -->
      <td></td>
      <td>
        <%= f.text_field :first_name, class: "fname", placeholder: 'Enter new...' %>
      </td>
      <td>
        <%= f.text_field :last_name, class: "lname", placeholder: "..student..." %>
      </td>
      <td>
        <%= f.collection_select :school_id, School.all.order(:name),:id,:name, :prompt => "School..." %>
      </td>
      <td><%= f.submit "Create", class: "delete" %></td>
    <% end %>
  <% end %>
	</tr>
</table>
