<table class="stdnt">
	<tr>
    <th></th>
		<th>F Name</th>
    <th>L Name</th>
    <th>School</th>
    <% if @showbtns %>
    <th colspan="2"></th>
    <% end %>
	</tr>
  <% @students.each do |student| %> 
		<tr>
    <td> <%= button_to "View", student_path(student.id), method: :get %> </td>
    <% if @showbtns %>
    <%= form_for(student, url: student_path(student.id)) do |f| %>
    <!-- restrict to activated schools only, default is "choose school -->
	  	<td><%= f.text_field :first_name, class: "fname", placeholder: student.first_name %></td>
      <td><%= f.text_field :last_name, class: "lname", placeholder: student.last_name %></td>
	  	<td>
        <%= f.collection_select :school_id, School.where("activated=?", true).order(:name),:id,:name %>
      </td>
      <td><%= f.submit "Modify", class: "welcome", name: "modify" %></td>
      <% if student.activated %>
        <td><%= f.submit "Deactivate", class: "delete", name: "delete" %></td>
      <% else %>
        <td><%= f.submit "Delete", class: "delete", name: "delete", :onclick => "return confirm('#{@delete_warning}')" %></td>
      <% end %>
    <% end %>
    <% else %>
      <td><%= student.first_name %></td>
      <td><%= student.last_name %></td>
      <td>
        <%= student.school.name %>
      </td>
    <% end %>
		</tr> 
    <% end %>
  <% if @showbtns %>
	<tr>
  <%= form_for(@student, url: students_path) do |f| %>
    <!-- restrict to activated schools only, default is "choose school -->
    <td></td>
 	  <td>
      <%= f.text_field :first_name, class: "fname", placeholder: 'Enter new...' %>
    </td>
    <td>
      <%= f.text_field :last_name, class: "lname", placeholder: "..student..." %>
    </td>
 	  <td>
      <%= f.collection_select :school_id, School.where("activated=?", true).order(:name),:id,:name, :prompt => "School..." %>
    </td>
    <td><%= f.submit "Create", class: "welcome" %></td>
  <% end %>
	</tr>
  <% end %>
</table>
