<%= form_for(@lesson, url: '/lessons', remote: true, html: {id: "add_student_form"}) do |lesson| %>
  <%= fields_for :student, @student do |lesson_student| %>
    <td>
      <%= lesson_student.text_field :first_name, class: "fname", placeholder: 'Enter new...' %>
    </td>
    <td>
      <%= lesson_student.text_field :last_name, class: "lname", placeholder: "..student..." %>
    </td>
    <td>
      <%= lesson_student.collection_select :school_id, School.where(activated: true).order(:name),:id,:name, :prompt => "School..." %>
    </td>
  <% end %>
  <td>
    <div class="inline">
      <div class="radio-withlabel">
        <%= lesson.radio_button :brought_instrument, true, checked: true %>
        <label>Yes</label>
      </div>
      <div class="radio-withlabel">
        <%= lesson.radio_button :brought_instrument, false %>
        <label>No</label>
      </div>
    </div>
  </td>
  <td>
    <div class="inline">
      <div class="radio-withlabel">
        <%= lesson.radio_button :brought_books, true, checked: true %>
        <label>Yes</label>
      </div>
      <div class="radio-withlabel">
        <%= lesson.radio_button :brought_books, false %>
        <label>No</label>
      </div>
    </div>
  </td>
  <% confirm_add_student ||= false %>
  <% if confirm_add_student %>
    <input type="hidden" name="new_student">true</input>
  <% end %>
  <td><button type="submit" class="delete">Start Lesson</button></td>
<% end %>