<%= form_for(@lesson, url: '/lessons', remote: true, 
    html: {id: "add_student_form", class: "tr" }) do |lesson| %>
  <%= lesson.fields_for :student do |lesson_student| %>
    <span class="td">
      <%= lesson_student.text_field :first_name, class: "fname", placeholder: 'Enter new...' %>
    </span>
    <span class="td">
      <%= lesson_student.text_field :last_name, class: "lname", placeholder: "..student..." %>
    </span>
    <span class="td">
      <%= lesson_student.collection_select :school_id, School.where(activated: true).order(:name),:id,:name, :prompt => "School..." %>
    </span>
  <% end %>
  <span class="td" style="text-align: center">
    <%= lesson.check_box :brought_instrument, checked: true %>
  </span>
  <span class="td" style="text-align: center">
    <%= lesson.check_box :brought_books, checked: true %>
  </span>
<span class="td"><button type="submit" class="delete">Start Lesson</button></span>
<% end %>