<script>
function showGroupLesson(group_lesson_id) {
  console.log("show .group-lesson-"+group_lesson_id);
  $(".group-lesson-"+group_lesson_id).show();
  $(".expand-button-"+group_lesson_id).hide();
}
function hideGroupLesson(group_lesson_id) {
  console.log("hide .group-lesson-"+group_lesson_id);
  $(".group-lesson-"+group_lesson_id).hide();
  $(".expand-button-"+group_lesson_id).show();
}
</script>
<table>
<tr>
<!-- post to /dateviews where new date is stored, then redirect back here -->
<%= form_for @dateview, url: dateviews_path do |f| %>
  <td>
  <%= f.label :start_date %>
  </td>
  <td>
  <%= f.text_field :s_date_formatted, class: "date" %>
  </td>
  <td>
  <%= f.label :end_date %>
  </td>
  <td>
  <%= f.text_field :e_date_formatted, class: "date"  %>
  </td>
  <td>
  Total hours
  </td>
  <td>
  <%= number_with_precision(@tot_hours, :precision => 2) || 0  %>
  </td>
  <td>
  <td><%= f.submit "Update Table", class: "updatetab" %></td>
  </td>
<% end %>
</tr>
</table>
<table class="stdnt">
  <tr>
    <th class="no-border-left"></th>
    <% if @showschool %>
      <th>
        School
      </th>
    <% end %>
    <% if @showteacher %>
      <th colspan="2">
        Teacher
      </th>
    <% end %>
    <% if @showstudent %>
      <th colspan="2">
        Student
      </th>
    <% end %>
    <th class="date">
      Date
    </th>
    <% if @showhours %>
    <th>
      Time In
    </th>
    <th>
      Time Out
    </th>
    <th>
      Minutes
    </th>
    <% end %>
    <th class="cent">
      Progress
    </th>
    <th class="cent">
      Behavior
    </th>
    <th class="cent">
      Brought Instrument
    </th>
    <th class="cent">
      Brought Books
    </th>
    <th>
      Notes
    </th>
	</tr>
  <% if @lessons.length > 0 %>
    <% current_gid = nil %>
    <% @lessons.each do |lesson| %>
      <% group_lesson_heading = false %>
      <% # Last row of group lesson
        if current_gid && (!lesson.group_lesson_id || current_gid != lesson.group_lesson_id)
      %>
      <tr class="group-lesson-row group-lesson-<%= current_gid %>">
        <td class="no-border-left"></td><td colspan="12">Group Lesson Notes:<br><%= GroupLesson.find(current_gid).notes %></td>
      </tr>
      <%  
        current_gid = nil
        end 
      %>
      <% # First row of group lesson
        if lesson.group_lesson_id && (!current_gid || current_gid != lesson.group_lesson_id)
          current_gid = lesson.group_lesson_id # start new group lesson
      %>
        <%= render partial: '/lessons/completed_row', locals: { 
          group_lesson_id: current_gid,
          group_lesson_heading: true,
          lesson: lesson } %>
      <% end %>
      <%= render partial: '/lessons/completed_row', locals: { 
        group_lesson_id: current_gid,
        group_lesson_heading: false,
        lesson: lesson } %>
    <% end # lessons.each do |lesson| %>
  <% else %>
    <tr><th colspan="12">None.</th></tr>
  <% end %>
</table>
