<script>
function showGroupLesson(group_lesson_id) {
  console.log("show .group-lesson-"+group_lesson_id);
  $(".group-lesson-"+group_lesson_id).show();
  $(".expand-button-"+group_lesson_id).hide();
}
function hideGroupLesson(group_lesson_id) {
  console.log("hide .group-lesson-"+group_lesson_id);
  $(".group-lesson-"+group_lesson_id).hide();
  $(".expand-button-"+group_lesson_id).show();
}
</script>
<%= render partial: '/lessons/search_form' %>
<br>
<table class="stdnt">
  <tr>
    <th class="no-border-left"></th>
    <% if @showschool %>
      <th>
        School
      </th>
    <% end %>
    <% if @showteacher %>
      <th colspan="2">
        Teacher
      </th>
    <% end %>
    <% if @showstudent %>
      <th colspan="2">
        Student
      </th>
    <% end %>
    <th class="date">
      Date
    </th>
    <% if @showhours %>
    <th>
      Time In
    </th>
    <th>
      Time Out
    </th>
    <th>
      Minutes
    </th>
    <% end %>
    <% Goal::MAX_PER_STUDENT.times do %>
      <th class="cent">
        Goal
      </th>
    <% end %>
    <th class="cent">
      Brought Instrument
    </th>
    <th class="cent">
      Brought Books
    </th>
    <th>
      Notes
    </th>
	</tr>
  <% if @lessons.length > 0 %>
    <% notes_width = @showteacher && @showstudent ? "14" : "13" %>
    <% current_gid = nil %>
    <% previous = nil %>
    <% @lessons.each do |lesson| %>
      <% group_lesson_heading = false %>
      <% # Last row of group lesson
        if current_gid && (!lesson.group_lesson_id || current_gid != lesson.group_lesson_id)
      %>
        <tr class="group-lesson-row group-lesson-<%= current_gid %>">
          <td class="no-border-left"></td><td colspan="<%= notes_width %>">Group Lesson Notes:<br><%= previous.group_lesson.notes %></td>
        </tr>
      <%  
        current_gid = nil
        end 
      %>
      <% # First row of group lesson
        if lesson.group_lesson_id && (!current_gid || current_gid != lesson.group_lesson_id)
          current_gid = lesson.group_lesson_id # start new group lesson
      %>
        <%= render partial: '/lessons/completed_row', locals: { 
          group_lesson_id: current_gid,
          group_lesson_heading: true,
          lesson: lesson } %>
      <% end %>
      <%= render partial: '/lessons/completed_row', locals: { 
        group_lesson_id: current_gid,
        group_lesson_heading: false,
        lesson: lesson } %>
      <% previous = lesson %>
    <% end # lessons.each do |lesson| %>
    <% if current_gid %>
      <tr class="group-lesson-row group-lesson-<%= current_gid %>">
        <td class="no-border-left"></td><td colspan="<%= notes_width %>">Group Lesson Notes:<br><%= previous.group_lesson.notes %></td>
      </tr>
    <% end %>
  <% else %>
    <tr><th colspan="12">No results.</th></tr>
  <% end %>
</table>
