<%
  # Parameters
  # group_lesson_id : Group lesson ID
  # group_lesson_heading : Is this row a heading for a group lesson?
  # lesson : A lesson object
%>
<%
  row_class = "single-lesson-row"
  if group_lesson_heading
    row_class = "group-lesson-heading"
  elsif lesson.group_lesson_id
    row_class = "group-lesson-row group-lesson-#{group_lesson_id}"
  end
%>
<tr class="<%= row_class %>">
<td class="no-border-left">
  <% if group_lesson_heading %>
    <button class="minimize expand-button-<%= group_lesson_id %>" onclick="showGroupLesson(<%= group_lesson_id %>);">+</button>
    <button class="minimize hidden group-lesson-<%= group_lesson_id %>" onclick="hideGroupLesson(<%= group_lesson_id %>)">-</button>        
  <% end %>
</td>
<% if @showschool %>
  <td><%= lesson.school['name'] %> </td>
<% end %>
<% if @showteacher %>
  <td><%= lesson.teacher['first_name'] %> </td>
  <td><%= lesson.teacher['last_name'] %> </td>
<% end %>
<% if @showstudent %>
  <% if group_lesson_heading %>
    <td colspan="2">Group Lesson</td>
  <% else %>
    <td><%= lesson.student['first_name'] %> </td>
    <td><%= lesson.student['last_name'] %> </td>
  <% end %>
<% end %>
<td><%= lesson['time_in'].strftime("%m-%d-%Y") %></td>
<% if @showhours %>
  <td><%= lesson.time_in.strftime("%l:%M %p") %></td>
  <td><%= lesson.time_out.strftime("%l:%M %p") %></td>
  <td>
    <%= number_with_precision((lesson.time_out - lesson.time_in)/60, :precision =>2) || 0 %>
  </td>

<% end %>
<% if group_lesson_heading %>
  <td colspan="6">Group Lesson</td>
<% else %>
  <% lesson.ratings.each do |rating| %>
    <td>
      <table class="noborder">
        <tr class="noborder">
          <td class="noborder"><%= rating.goal.present? ? rating.goal.name : "" %></td>
          <td class="noborder"><%= rating.score %></td>
        </tr>
      </table
    </td>
  <% end %>
  <td class="cent">
    <%= if lesson['brought_instrument'] then "Y" else "N" end %>
  </td>
  <td class="cent">
    <%= if lesson['brought_books'] then "Y" else "N" end %> 
  </td>
  <td><%= lesson['notes'] %> </td>
<% end %>
</tr>
