<table>
<tr>
<!-- post to /dateview/id where new date is stored, then redirect back here -->
<%= form_for @dateview, url: dateview_path(@dateview.id) do |f| %>
  <td>
  <%= f.label :start_date %>
  </td>
  <td>
  <%= f.text_field :s_date_formatted, class: "date" %>
  </td>
  <td>
  <%= f.label :end_date %>
  </td>
  <td>
  <%= f.text_field :e_date_formatted, class: "date"  %>
  </td>
  <td>
  Total hours
  </td>
  <td>
  <%= number_with_precision(@tot_hours, :precision => 2) || 0  %>
  </td>
  <td>
  <td><%= f.submit "Update Table", class: "updatetab" %></td>
  </td>
<% end %>
</tr>
</table>
<table class="stdnt">
	<tr>
    <% if @showschool %>
      <th>
        <%= form_for("School", url: lessons_sort_path) do |f| %>
        <% f.submit "School", name: "sortcol" %>
        <% end %>
      </th>
    <% end %>
    <% if @showteacher %>
      <th colspan="2">
        <%= form_for("Teacher", url: lessons_sort_path) do |f| %>
        <% f.submit "Teacher", name: "sortcol" %>
        <% end %>
      </th>
    <% end %>
    <% if @showstudent %>
    <th colspan="2">
      <%= form_for("Student", url: lessons_sort_path) do |f| %>
      <% f.submit "Student", name: "sortcol" %>
      <% end %>
    </th>
    <% end %>
		<th class="date">
      <%= form_for("Date", url: lessons_sort_path) do |f| %>
      <% f.submit "Date", name: "sortcol" %>
      <% end %>
    </th>
    <% if @showhours %>
    <th>
      Time In
    </th>
    <th>
      Time Out
    </th>
    <th>
      Minutes
    </th>
    <% end %>
    <th class="cent">
      <%= form_for("Progress", url: lessons_sort_path) do |f| %>
      <% f.submit "Progress", name: "sortcol" %>
      <% end %>
    </th>
    <th class="cent">
      <%= form_for("Behavior", url: lessons_sort_path) do |f| %>
      <% f.submit "Behavior", name: "sortcol" %>
      <% end %>
    </th>
    <th class="cent">
      Brought Instrument
    </th>
    <th class="cent">
      Brought Books
    </th>
    <th>
      Notes
    </th>
	</tr>
  <% @lessons.each do |lesson| %>
  <tr>
    <% if @showschool %>
      <td><%= lesson['name'] %> </td>
    <% end %>
    <% if @showteacher %>
      <td><%= lesson.teacher['first_name'] %> </td>
      <td><%= lesson.teacher['last_name'] %> </td>
    <% end %>
    <% if @showstudent %>
      <td><%= lesson.student['first_name'] %> </td>
      <td><%= lesson.student['last_name'] %> </td>
    <% end %>
    <td><%= lesson['time_in'].strftime("%Y-%m-%d") %></td>
    <% if @showhours %>
      <td><%= lesson.time_in.strftime("%l:%M %p") %></td>
      <td><%= lesson.time_out.strftime("%l:%M %p") %></td>
      <td>
        <%= number_with_precision((lesson.time_out - lesson.time_in)/60, :precision =>2) || 0 %>
      </td>

    <% end %>
    <td class="cent"><%= lesson['progress'] %> </td>
    <td class="cent"><%= lesson['behavior'] %> </td>
    <td class="cent">
      <%= if lesson['brought_instrument'] then "Y" else "N" end %>
    </td>
    <td class="cent">
      <%= if lesson['brought_books'] then "Y" else "N" end %> 
    </td>
    <td><%= lesson['notes'] %> </td>

  </tr>
  <% end %>
</table>
