<%
  # Parameters
  # group_lesson_id : Group lesson ID
  # group_lesson_heading : Is this row a heading for a group lesson?
  # lesson : A lesson object
%>
<%
  row_class = "single-lesson-row"
  if group_lesson_heading
    row_class = "group-lesson-heading"
  elsif lesson.group_lesson_id
    row_class = "group-lesson-row group-lesson-#{group_lesson_id}"
  end
%>
<tr class="<%= row_class %>">
    <td class="no-border-left">
      <% if group_lesson_heading %>
        <button class="minimize expand-button-<%= group_lesson_id %>" onclick="showGroupLesson(<%= group_lesson_id %>);">+</button>
        <button class="minimize hidden group-lesson-<%= group_lesson_id %>" onclick="hideGroupLesson(<%= group_lesson_id %>)">-</button>        
      <% end %>
    </td>
  <%= form_for(lesson, url: lesson_path(lesson.id)) do |f| %>
    <td><%= lesson.student.school.name %></td>
    <td><%= lesson.teacher.first_name %> <%= lesson.teacher.last_name %></td>
    <td>
      <% if group_lesson_heading %>
        Group Lesson
      <% else %>
        <%= lesson.student.first_name %> <%= lesson.student.last_name %></td>
      <% end %>
    <td class="timein"><%= f.text_field :time_in, class: "date", value: lesson.time_in.strftime("%l:%M %p %m-%d-%Y"), style: "width:10em" %></td>
    <td class="timein"><%= f.text_field :time_out, class: "date", value: lesson.time_out.strftime("%l:%M %p %m-%d-%Y"), style: "width:10em" %></td>
    <td>
        <%= number_with_precision((lesson.time_out - lesson.time_in)/60, :precision =>2) || 0 %>
    </td>
    <% if group_lesson_heading %>
      <td colspan="5">Group Lesson</td>
    <% else %>
      <td class="cent"><%= f.number_field :progress, min: 1, max: 6, :style => "width:5em" %> </td>
      <td class="cent"><%= f.number_field :behavior, min: 1, max: 6, :style => "width:5em" %> </td>
      <td class="cent">
        <%= f.check_box :brought_instrument %>
      </td>
      <td class="cent">
        <%= f.check_box :brought_books %>
      </td>
      <td><%= f.text_field :notes %> </td>
      <td><%= f.submit "Modify", class: "welcome", name: "modify" %></td>
      <td><%= f.submit "Delete", class: "delete", name: "delete", :onclick => "return confirm('#{@delete_warning}')" %></td>
    <% end %>
<% end %>
</tr> 