<script>
function showGroupLesson(group_lesson_id) {
  console.log("show .group-lesson-"+group_lesson_id);
  $(".group-lesson-"+group_lesson_id).show();
  $(".expand-button-"+group_lesson_id).hide();
}
function hideGroupLesson(group_lesson_id) {
  console.log("hide .group-lesson-"+group_lesson_id);
  $(".group-lesson-"+group_lesson_id).hide();
  $(".expand-button-"+group_lesson_id).show();
}
</script>
<%= form_tag (url_for only_path: false), method: :get do -%>
  <label>Start Date</label>
  <%= date_field_tag "start_date", @start_date, class: "search_field" %>
  <label>End Date</label>
  <%= date_field_tag "end_date", @end_date, class: "search_field" %>
  <label>Total hours</label>
  <%= number_with_precision(@tot_hours, :precision => 2) || 0  %>
  <%= submit_tag "Update Table" %>
<% end -%>
<br>
<table class="stdnt">
  <tr>
    <th class="no-border-left"></th>
    <th>
      School
    </th>
    <th colspan="2">
      Teacher
    </th>
    <th colspan="2" >
      Student
    </th>
		<th class="timein">
      Date
    </th>
    <th>
      Time Out
    </th>
    <th>
      Minutes
    </th>
    <% Goal::MAX_PER_STUDENT.times do %>
      <th class="cent">
        Goal
      </th>
    <% end %>
    <th class="cent">
      Instru
    </th>
    <th class="cent">
      Book
    </th>
    <th>
      Notes
    </th>
	</tr>
  <% if @messons.length > 0 %>
    <% current_gid = nil %>
    <% previous = nil %>
    <% @messons.each do |lesson| %>
      <% group_lesson_heading = false %>
      <% # Last row of group lesson
        if current_gid && (!lesson.group_lesson_id || current_gid != lesson.group_lesson_id)
      %>
        <tr class="group-lesson-row group-lesson-<%= current_gid %>">
          <td class="no-border-left"></td><td colspan="14">Group Lesson Notes:<br><%= previous.group_lesson.notes %></td>
        </tr>
      <%  
        current_gid = nil
        end 
      %>
      <% # First row of group lesson
        if lesson.group_lesson_id && (!current_gid || current_gid != lesson.group_lesson_id)
          current_gid = lesson.group_lesson_id # start new group lesson
      %>
        <%= render partial: '/lessons/editable_row', locals: { 
          group_lesson_id: current_gid,
          group_lesson_heading: true,
          lesson: lesson } %>
      <% end %>
      <%= render partial: '/lessons/editable_row', locals: { 
        group_lesson_id: current_gid,
        group_lesson_heading: false,
        lesson: lesson } %>
      <% previous = lesson %>
    <% end # messons.each do |lesson| %>
    <% if current_gid %>
      <tr class="group-lesson-row group-lesson-<%= current_gid %>">
        <td class="no-border-left"></td><td colspan="14">Group Lesson Notes:<br><%= previous.group_lesson.notes %></td>
      </tr>
    <% end %>
  <% else %>
    <tr><th colspan="12">None.</th></tr>
  <% end %>
</table>
