<table>
<tr><th>Check In Time</th><th>Student</th><th>Teacher</th><th>Instrument</th><th>Books</th></tr>
<% lessons.each do |lesson| %>
<tr>
	<td class="cent"><%= lesson.time_in.strftime(Lesson::TIME_FORMAT) %></td>
	<td class="cent"><%= lesson.student.first_name %> <%= lesson.student.last_name %></td>
	<td class="cent"><%= lesson.teacher.first_name %> <%= lesson.teacher.last_name %></td>
	<td class="cent"><%= if lesson.brought_instrument then "Y" else "N" end %></td>
	<td class="cent"><%= if lesson.brought_books then "Y" else "N" end %></td>
</tr>
<% end %>
</table>
