<% provide(:title, 'Student Check Out') %>
<h1><%= @lesson.student.first_name %> <%= @lesson.student.last_name %> . Check Out</h1>

<% if @lesson.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      The form contains <%= pluralize(@lesson.errors.count, "error") %>.
    </div>
    <ul>
    <% @lesson.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    Check in time: <%= @lesson.time_in.strftime(Lesson::DATETIME_FORMAT) %><br>

    <%= form_for(@lesson, url: '/lessons/checkout') do |lesson| %>
      <%= lesson.label :behavior, "Behavior" %>
      <label class="radio-label-inline">Worse</label>
      <% for i in 1..6 do %>
        <%= lesson.radio_button :behavior, i, class: "radio-nolabel" %>
      <% end %>
      <label class="radio-label-inline">Better</label>

  		<%= lesson.label :progress, "Progress" %>
      <label class="radio-label-inline">Worse</label>
	    <% for i in 1..6 do %>
	      <%= lesson.radio_button :progress, i, class: "radio-nolabel" %>
	    <% end %>
      <label class="radio-label-inline">Better</label>

      <%= lesson.label :notes %>
      <%= lesson.text_area :notes, class: "notes", rows: 4 %>
      <%= lesson.submit "Submit", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>