<% provide(:title, 'Student Check Out') %>
<h1><%= @lesson.student.first_name %> <%= @lesson.student.last_name %> . Check Out</h1>

<%= render '/shared/error_messages', object: @lesson %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    Lesson started at: <%= @lesson.time_in.strftime(Lesson::DATETIME_FORMAT) %><br>

    <%= form_for(@lesson, url: '/lessons/checkout', remote: true, html: {class: "all-block"}) do |lesson| %>
      <%= lesson.label :behavior, "Behavior" %>
      <label class="radio-label-inline">Worse</label>
      <% for i in 1..6 do %>
        <div class="radio-withlabel-vertical">
          <%= lesson.radio_button :behavior, i, class: "radio-button-vertical" %>
          <div class="center-contents">
            <label class="radio-label-vertical"><%=i%></label>
          </div>
        </div>
      <% end %>
      <label class="radio-label-inline">Better</label>

  		<%= lesson.label :progress, "Progress" %>
      <label class="radio-label-inline">Worse</label>
      <% for i in 1..6 do %>
        <div class="radio-withlabel-vertical">
          <%= lesson.radio_button :progress, i, class: "radio-button-vertical" %>
          <div class="center-contents">
            <label class="radio-label-vertical"><%=i%></label>
          </div>
        </div>
      <% end %>
      <label class="radio-label-inline">Better</label>

      <%= lesson.label :notes %>
      <%= lesson.text_area :notes, class: "notes", rows: 4 %>
      <%= lesson.submit "Submit", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>