<h2>
  Start Single Lesson
</h2>
<%= render '/shared/error_messages', object: @lesson %>
  <div class="stdnt table">
	<div class="thead">
    <div class="tr">
  		<span class="td">F Name</span>
      <span class="td">L Name</span>
      <span class="td">School</span>
      <span class="td">Instrument</span>
      <span class="td">Books</span>
    </div>
	</div>
  <% @students.each do |student| %> 
      <%= form_for(@lesson, url: '/lessons', remote: true, 
          html: { class: "tr"}) do |lesson| %>
        <span class="td"><%= student.first_name %></span>
        <span class="td"><%= student.last_name %></span>
        <span class="td"><%= student.school.name %></span>
        <%= lesson.hidden_field(:student_id, value: student.id)%>
        <%= lesson.hidden_field(:school_id, value: student.school.id)%>
        <%= lesson.fields_for :student do |lesson_student| %>
          <%= lesson_student.hidden_field(:school_id, value: student.school.id)%>
        <% end %>
        <span class="td" style="text-align: center">
          <%= lesson.check_box :brought_instrument, checked: true %>
        </span>
        <span class="td" style="text-align: center">
          <%= lesson.check_box :brought_books, checked: true %>
        </span>
        <span class="td"><%= lesson.submit "Start Lesson", class: "delete" %></span>
      <% end %>
  <% end %>
  <%= render "add_student_form" %>
</div>
