<h2>
  Start Lesson
</h2>
<% if @lesson && @lesson.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      The form contains <%= pluralize(@lesson.errors.count, "error") %>.
    </div>
    <ul>
    <% @lesson.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
  <table class="stdnt">
	<tr>
		<th>F Name</th>
    <th>L Name</th>
    <th>School</th>
    <th>Instrument</th>
    <th>Books</th>
	</tr>
  <% @students.each do |student| %> 
    <tr>
      <%= form_for(@lesson, url: '/lessons') do |lesson| %>
        <td><%= student.first_name %></td>
        <td><%= student.last_name %></td>
        <td><%= student.school.name %></td>
        <%= lesson.hidden_field(:student_id, value: student.id)%>
        <%= lesson.hidden_field(:school_id, value: student.school.id)%>
        <td>
          <div class="inline">
            <div class="radio-withlabel">
              <%= lesson.radio_button :brought_instrument, true, checked: true %>
              <label>Yes</label>
            </div>
            <div class="radio-withlabel">
              <%= lesson.radio_button :brought_instrument, false %>
              <label>No</label>
            </div>
          </div>
        </td>
        <td>
          <div class="inline">
            <div class="radio-withlabel">
              <%= lesson.radio_button :brought_books, true, checked: true %>
              <label>Yes</label>
            </div>
            <div class="radio-withlabel">
              <%= lesson.radio_button :brought_books, false %>
              <label>No</label>
            </div>
          </div>
        </td>
        <td><%= lesson.submit "Start Lesson", class: "delete" %></td>
      <% end %>
    </tr> 
  <% end %>
	<tr>
  <%= form_for(@lesson, url: '/lessons') do |lesson| %>
    <%= fields_for :student, @lesson.student do |lesson_student| %>
      <td>
        <%= lesson_student.text_field :first_name, class: "fname", placeholder: 'Enter new...' %>
      </td>
      <td>
        <%= lesson_student.text_field :last_name, class: "lname", placeholder: "..student..." %>
      </td>
      <!-- restrict to activated schools only, default is "choose school -->
    <% end %>
    <td>
      <%= lesson.collection_select :school_id, School.where(activated: true).order(:name),:id,:name, :prompt => "School..." %>
    </td>
    <td>
      <div class="inline">
        <div class="radio-withlabel">
          <%= lesson.radio_button :brought_instrument, true, checked: true %>
          <label>Yes</label>
        </div>
        <div class="radio-withlabel">
          <%= lesson.radio_button :brought_instrument, false %>
          <label>No</label>
        </div>
      </div>
    </td>
    <td>
      <div class="inline">
        <div class="radio-withlabel">
          <%= lesson.radio_button :brought_books, true, checked: true %>
          <label>Yes</label>
        </div>
        <div class="radio-withlabel">
          <%= lesson.radio_button :brought_books, false %>
          <label>No</label>
        </div>
      </div>
    </td>
    <td><%= lesson.submit "Start Lesson", class: "delete" %></td>
  <% end %>
	</tr>
</table>
