<h2>
  Start Lesson
</h2>
<%= render '/shared/error_messages', object: @lesson %>
  <table class="stdnt">
	<tr>
		<th>F Name</th>
    <th>L Name</th>
    <th>School</th>
    <th>Instrument</th>
    <th>Books</th>
	</tr>
  <% @students.each do |student| %> 
    <tr>
      <%= form_for(@lesson, url: '/lessons') do |lesson| %>
        <td><%= student.first_name %></td>
        <td><%= student.last_name %></td>
        <td><%= student.school.name %></td>
        <%= lesson.hidden_field(:student_id, value: student.id)%>
        <%= lesson.fields_for :student do |lesson_student| %>
          <%= lesson_student.hidden_field(:school_id, value: student.school.id)%>
        <% end %>
        <td>
          <div class="inline">
            <div class="radio-withlabel">
              <%= lesson.radio_button :brought_instrument, true, checked: true %>
              <label>Yes</label>
            </div>
            <div class="radio-withlabel">
              <%= lesson.radio_button :brought_instrument, false %>
              <label>No</label>
            </div>
          </div>
        </td>
        <td>
          <div class="inline">
            <div class="radio-withlabel">
              <%= lesson.radio_button :brought_books, true, checked: true %>
              <label>Yes</label>
            </div>
            <div class="radio-withlabel">
              <%= lesson.radio_button :brought_books, false %>
              <label>No</label>
            </div>
          </div>
        </td>
        <td><%= lesson.submit "Start Lesson", class: "delete" %></td>
      <% end %>
    </tr> 
  <% end %>
  <tr>
  <%= render "add_student_form" %>
  </tr>
</table>
