<table>
<tr>
<!-- post to /dateviews where new date is stored, then redirect back here -->
<%= form_for @dateview, url: dateviews_path do |f| %>
  <td>
  <%= f.label :start_date %>
  </td>
  <td>
  <%= f.text_field :s_date_formatted, class: "date" %>
  </td>
  <td>
  <%= f.label :end_date %>
  </td>
  <td>
  <%= f.text_field :e_date_formatted, class: "date"  %>
  </td>
  <td>
  Total hours
  </td>
  <td>
  <%= number_with_precision(@tot_hours, :precision => 2) || 0  %>
  </td>
  <td>
  <td><%= f.submit "Update Table", class: "updatetab" %></td>
  </td>
<% end %>
</tr>
</table>
<table class="stdnt">
	<tr>
		<th>Date</th>
    <th>Logged In</th>
    <th>Logged Out</th>
    <th>Minutes</th>
	</tr>
  <% if @logins.length > 0 %>
    <% @logins.each do |login| %>
    <tr>
      <td><%= login.time_in.strftime("%m-%d-%Y") %></td>
      <td><%= login.time_in.strftime("%l:%M %p") %></td>
      <td><%= login.time_out.strftime("%l:%M %p") %></td>
      <td><%= number_with_precision((login.time_out - login.time_in)/60, :precision =>2) || 0 %></td>
    </tr>
    <% end %>
  <% else %>
    <tr><th colspan="4">None.</th></tr>
  <% end %>
</table>
