<%= form_tag (url_for only_path: false), method: :get do -%>
  <label>Start Date</label>
  <%= date_field_tag "start_date", @start_date, class: "search_field" %>
  <label>End Date</label>
  <%= date_field_tag "end_date", @end_date, class: "search_field" %>
  <label>Total hours</label>
  <%= number_with_precision(@tot_hours, :precision => 2) || 0  %>
  <%= submit_tag "Update Table" %>
<% end -%>
<br>
<table class="stdnt">
	<tr>
		<th>Date</th>
    <th>Logged In</th>
    <th>Logged Out</th>
    <th>Minutes</th>
	</tr>
  <% if @logins.length > 0 %>
    <% @logins.each do |login| %>
    <tr>
      <td><%= login.time_in.strftime("%m-%d-%Y") %></td>
      <td><%= login.time_in.strftime("%l:%M %p") %></td>
      <td><%= login.time_out.strftime("%l:%M %p") %></td>
      <td><%= number_with_precision((login.time_out - login.time_in)/60, :precision =>2) || 0 %></td>
    </tr>
    <% end %>
  <% else %>
    <tr><th colspan="4">None.</th></tr>
  <% end %>
</table>
