<table>
	<tr>
		<th>F Name</th>
    <th>L Name</th>
    <th>Email</th>
    <th>Hours</th>
    <th>Password</th>
	</tr>
  <% @teachers.each do |teacher| %> 
		<tr>
    <%= form_for(teacher, url: teacher_path(teacher.id)) do |f| %>
	  	<td><%= f.text_field :firstName, class: "fname", placeholder: teacher.firstName %></td>
      <td><%= f.text_field :lastName, class: "lname", placeholder: teacher.lastName %></td>
      <td><%= f.email_field :email, class: "email", placeholder: teacher.email %></td>
      <td><%= f.submit "View", class: "hours", name: "hours"  %></td>
      <td><%= f.submit "Send Email", class: "welcome", name: "welcome"  %></td>
      <td><%= f.submit "Delete", class: "delete", name: "delete" %></td>
      <td><%= f.submit "Modify", class: "modify", name: "modify" %></td>
    <% end %>
		</tr>
  <% end %>
	<tr>
  <%= form_for(@teacher, url: teachers_path) do |f| %>
 	  <td><%= f.text_field :firstName, class: "fname", placeholder: 'Enter new...' %></td>
    <td><%= f.text_field :lastName, class: "lname", placeholder: "..teacher's..." %></td>
    <td><%= f.email_field :email, class: "email", placeholder: '..information here.' %></td>
    <td></td>
    <td><%= f.submit "Send Email", class: "welcome" %></td>
  <% end %>
	</tr>
</table>
