<table class="stdnt">
	<tr>
    <th></th>
		<th>F Name</th>
    <th>L Name</th>
    <th>Email</th>
    <th>Password</th>
	</tr>
  <% @teachers.each do |teacher| %> 
		<tr>
    <td> <%= button_to "View", teacher_path(teacher.id), method: :get %> </td>
    <%= form_for(teacher, url: teacher_path(teacher.id)) do |f| %>
	  	<td><%= f.text_field :first_name, class: "fname", placeholder: teacher.first_name %></td>
      <td><%= f.text_field :last_name, class: "lname", placeholder: teacher.last_name %></td>
      <td><%= f.email_field :email, class: "email", placeholder: teacher.email %></td>
      <td><%= f.submit "Reset", class: "welcome", name: "reset" %></td>
      <% if teacher.activated %>
        <td><%= f.submit "Modify", class: "delete", name: "modify" %></td>
        <td><%= f.submit "Deactivate", class: "delete", name: "delete" %></td>
      <% else %>
        <td><%= f.submit "Activate", class: "delete", name: "activate" %></td>
        <td><%= f.submit "Delete", class: "delete", name: "delete", :onclick => "return confirm('#{@delete_warning}')" %></td>
      <% end %>
    <% end %>
		</tr>
  <% end %>
	<tr>
  <td></td>
  <%= form_for(@teacher, url: teachers_path) do |f| %>
 	  <td><%= f.text_field :first_name, class: "fname", placeholder: 'Enter new...' %></td>
    <td><%= f.text_field :last_name, class: "lname", placeholder: "..teacher's..." %></td>
    <td><%= f.email_field :email, class: "email", placeholder: '..information here.' %></td>
    <td><%= f.submit "Send", class: "welcome" %></td>
  <% end %>
	</tr>
</table>
