<h2>
  <%= @teacher.firstName %> 
  <%= @teacher.lastName %> 
  Hours
</h2>
<table>
<tr>
<!-- post to /dateview/id where new date is stored, then redirect back here -->
<%= form_for @dateview, url: dateview_path(@dateview.id) do |f| %>
  <td>
  <%= f.label :start_date %>
  </td>
  <td>
  <%= f.text_field :s_date_formatted, class: "date" %>
  </td>
  <td>
  <%= f.label :end_date %>
  </td>
  <td>
  <%= f.text_field :e_date_formatted, class: "date"  %>
  </td>
  <td>
  Total hours
  </td>
  <td>
  <%= number_with_precision(@tot_hours, :precision => 2) || 0  %>
  </td>
  <td>
  <td><%= f.submit "Update Table", class: "updatetab" %></td>
  </td>
<% end %>
</tr>
</table>

<%= render partial: "hours_table" %>
