<table>
<tr>
<td>
  <h2> <%= @teacher.first_name %> </h2>
</td>
<td>
  <h2> <%= @teacher.last_name %> </h2>
</td>
<td>
<%= form_tag "/teachers/change_table", id: "pagetype" do %>
  <%= select_tag "changet", options_for_select(["Hours", "Lessons"], @title), onchange: "$('#pagetype').submit()" %>
<% end %>
</td>
</tr>
</table>

<h1><%= @title %></h1>

<%= render partial: "#{@what_table}" %>
