<table class="stdnt">
	<tr>
    <th></th>
		<th>Name</th>
    <th colspan="2"></th>
	</tr>
  <% @schools.each do |school| %> 
		<tr>
    <td> <%= button_to "View", school_path(school.id), method: :get %> </td>
    <%= form_for(school, url: school_path(school.id)) do |f| %>
	  	<td><%= f.text_field :name, class: "fname", placeholder: school.name %></td>
      <% if school.activated %>
        <td><%= f.submit "Modify", class: "delete", name: "modify" %></td>
        <td><%= f.submit "Deactivate", class: "delete", name: "delete" %></td>
      <% else %>
      <td><%= f.submit "Activate", class: "delete", name: "activate" %></td>
      <td><%= f.submit "Delete", class: "delete", name: "delete", :onclick => "return confirm('#{@delete_warning}')" %></td>
      <% end %>
    <% end %>
		</tr>
  <% end %>
	<tr>
  <%= form_for(@school, url: schools_path) do |f| %>
    <td></td>
 	  <td><%= f.text_field :name, class: "fname", placeholder: 'New school...' %></td>
    <td><%= f.submit "Create", class: "delete" %></td>
  <% end %>
	</tr>
</table>
