<h2><%= @title %></h2>
<%
students = Student.find_by_teacher(current_user.id).to_a
# make a hash which maps school_id to arrays of student objects.
school_to_students = {}
School.all.each do |school|
  students_at_school = students.select { |student| student.school_id == school.id }
  school_to_students[school.id] = students_at_school.map { |student| student.attributes.to_h }
end
students_in_course = @course.students.map { |student| student.id }
%>
<script>
  school_to_students = JSON.parse('<%== school_to_students.to_json %>')
  students_in_course = JSON.parse('<%== students_in_course.to_json %>')
</script>
<%= render '/shared/error_messages', object: @course %>
<%= form_for @course, remote: true do |course_f| %>
<div class="all-block">
  <%= course_f.label :name %>
  <%= course_f.text_field :name %>
  <%= course_f.label :start_date %>
  <%= course_f.date_field :start_date, value: Date.today %>
  <%= course_f.label :end_date %>
  <%= course_f.date_field :end_date %>
  <%= course_f.label :notes %>
  <%= course_f.text_area :notes %>
  <%= course_f.label :school %>
  <%= course_f.collection_select :school_id, School.all, :id, :name, { prompt: true }, { onchange: "show_schools()" } %>
</div>
  <ul id="student_list" class="student_list"></ul>
  <div id="add_student">
    <input type="text" id="new_student_first" placeholder="First name"/>
    <input type="text" id="new_student_last" placeholder="Last name"/>
    <input type="hidden" id="new_student_id" />
    <input type="hidden" id="new_student_confirmed" />
    <button onclick="add_student(event)">Add Student</button>
  </div>
  <br>
  <%= course_f.submit %>
<% end %>
<script>
function add_student(e) {
  e.preventDefault()
  let first_name = $("#new_student_first").val()
  let last_name = $("#new_student_last").val()
  let school_id = $("#course_school_id").val()
  $.ajax("/students/search",
    { method: "POST", dataType: "json", data: { first_name: first_name, last_name: last_name, school_id: school_id } })
    .done(function(result) {
      let id = 0
      try { id = JSON.parse(result) } catch (error) {}
      if (id > 0)
        student_found(id, first_name, last_name)
      else
        student_not_found()
    })
    .fail(function(result) {
      student_not_found()
    })
}
function show_schools() {
  school_id = $("#course_school_id").val()
  if (!school_id) return
  student_list = $("#student_list")
  student_list.empty()
  school_to_students[school_id].forEach(student => student_list.append(student_checkbox(student.id, student.first_name, student.last_name)))
  $("#student_list").show()
}
function student_checkbox(id, first_name, last_name) {
  checked = students_in_course.includes(id) ? "checked" : ""
  return `<li><input type="checkbox" value="${id}" name="course[student_ids][]" id="course_student_ids_${id}" ${checked}><label for="course_student_ids_${id}">${first_name} ${last_name}</label></li>`
}
function student_found(id, first_name, last_name) {
  $("#student_list").append(student_checkbox(id, first_name, last_name))
  $("#new_student_first").val('')
  $("#new_student_last").val('')
}
function student_not_found() {
  if (confirm("No student by that name at that school.  Are you trying to add a new student?")) {
    let first_name = $("#new_student_first").val()
    let last_name = $("#new_student_last").val()
    let school_id = $("#course_school_id").val()
    $.ajax("/students",
      { method: "POST", dataType: "json", data: { student: { first_name: first_name, last_name: last_name, school_id: school_id }}})
      .done(function(result) {
        let id = 0
        try { id = JSON.parse(result) } catch (error) {}
        if (id > 0)
          student_found(id, first_name, last_name)
        else
          $("#error_wrapper").append("<ul><li>Unable to create student</li></ul>")
      })
      .fail(function(result) {
        $("#error_wrapper").append("<ul><li>Unable to create student</li></ul>")
      })
  }
}
$(function() {
  show_schools();
})
</script>